a {
  text-decoration: none;
  color: #ebebeb;
  display: inline-block;
  font-size: 1.2em;
}

body {
  font-family: "Open Sans", sans-serif;
}

footer {
  height: 93px;
  background-color: #ff6700;
}

footer p {
  font-size: 1.2em;
  font-style: 400;
  color: #ebebeb;
  padding: 15px 0 0;
  text-align: center;
}

footer #social {
  text-align: center;
}

footer #social i {
  color: #ebebeb;
}

footer #social i:hover {
  color: #004e98;
}

.container-fluid {
  background: #004e98;
  min-height: calc(100vh - 93px);
}

.container-fluid h1 {
  color: #ebebeb;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
  text-align: center;
  font-size: 26px !important;
}

.container-fluid p {
  color: #ebebeb;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  font-size: 1.3em;
}

.container-fluid .row {
  max-width: 70em;
  margin: 50px auto;
}

.container-fluid figure figcaption {
  color: #ebebeb;
  padding-top: 10px;
}

/* ==== CLASSES ==== */
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.links {
  padding-bottom: 15px;
}

.pad-left-30 {
  padding-left: 30px;
}

a:hover {
  text-decoration: underline;
  color: #ebebeb;
}

#bio {
  margin-top: 20px;
}

/* ==== MEDIA QUERIES ==== */
@media (min-width: 375px) {
  .container-fluid h1 {
    font-size: 30px !important;
  }
}

@media (min-width: 600px) {
  .container-fluid h1 {
    font-size: 36px !important;
  }
}

@media (min-width: 992px) {
  footer {
    height: 70px;
  }
  .container-fluid {
    min-height: calc(100vh - 70px);
  }
  #bio {
    margin-top: 0;
    padding-left: 30px;
  }
  .container-fluid h1 {
    text-align: left;
  }
  .container-fluid .links {
    padding-bottom: 0;
  }
  .list-inline {
    margin-left: 0;
  }
  footer p {
    text-align: left;
    padding-left: 15px;
  }
  footer .row {
    margin-right: 0;
  }
  footer #social {
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
  }
}
